<div class="container">
    <div class="col">
        <div class="row">
            <table class="table sortable">
                <thead> <%-type%> ( <%-apex.length%> )</thead>
                <% if (type == 'ApexTrigger') {%>
                <th>Name</th>
                <th>Object</th>
                <th>Status</th>
                <th>IsValid</th>
                <% } else if (type == 'ApexClass') {%>
                <th>Name</th>
                <th>Status</th>
                <th>IsValid</th>
                <%} else if (type == 'ApexPage') {%>
                <th>Name</th>
                <%} else if (type == 'ApexComponent') {%>
                <th>Name</th>
                <%}%>
               
                
                <% for(var i =0; i< apex.length; i ++){ %>
                <tr>
                    <td><%- apex[i].Name%></td>

                    <% if (type == 'ApexTrigger') {%>
                        <td><%- apex[i].TableEnumOrId%></td>
                   
                    <% } else if (type == 'ApexClass' || type == 'ApexTrigger') {%>
                        <td><%- apex[i].Status%></td>
                            <% if (apex[i].isValid) {%>
                                <td>true</td>
                            <% } else {%>
                                <td>false</td>
                            <%}%>
                        <%}%>
                </tr>
                <%}%>
            </table>
        </div>
    </div>
</div>