<div class="container">
    <div class="row">
        <div class="card mt-10 my-2 mx-2" style="width: 93%;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-5">
                        <h5 class="card-title">Your Salesforce Org Information</h5>
                        <% if (!session.accesscode || !session.instanceUrl) { %>
                        <p class="card-text">You dont have an instance connected 😞, click Connect below to get started.
                        </p>
                        <a href="/oauth2/auth" class="btn btn-primary">Connect</a>
                        <% } else {%>
                        <p class="card-text">Instance Connected : <%- session.instanceUrl %></p>
                        <button class="btn btn-primary" id="btnRefresh" type="button">
                            Refresh
                        </button>
                        <%}%>
                    </div>
                </div>
                </div>
        </div>
    </div>
    <div class="row">
        <% if (allOrgs != 0) {%>
                        <div class="container">
                            <table class="table" id="dtObjects">
                                <thead> Connected Org Information </thead>
                                <% allOrgs.forEach(element => { %>
                                <tr>
                                    <td>
                                        <a id="connectedOrg" href='/welcome?org=<%= element.orgid %>'> <%= element.orgurl %> </a>
                                    </td>
                                    <td>
                                        <a href="" class="btn btn-danger" id='<%= element.orgid %>'>Delete</a>
                                    </td>
                                </tr>
                                <%});%>
                            </table>
                        </div>
                        <%}%>
    </div>

    <script>
        var editor;
        $(function (){
            $("#btnRefresh").click(function () {
                //console.log($(this).attr('id'));
                $(this).prop("disabled", true);
                $(this).html(
                    '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...'
                    );
                var btn = $(this);
                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: '/everything',
                    contentType: "application/json",
                    dataType: "text",
                    success: function (data) {
                        console.log("Success");
                        console.log(data);
                    },
                    complete: function (response, status) {
                        btn.removeAttr("disabled");
                        btn.remove(".spinner-border.spinner-border-sm");
                        btn.html('Refresh');
                    }
                });
            });
            $("#btnConnect, #btnConnect2").click(function () {
                $(this).prop("disabled", true);
                $(this).html(
                    '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...'
                    );
                var btn = $(this);
                $.ajax({
                    type: 'GET',
                    url: '/oauth2/auth/',
                    contentType: "application/json",
                    success: function (data) {
                        console.log("Success");
                    },
                    complete: function () {
                        btn.removeAttr("disabled");
                        btn.remove(".spinner-border.spinner-border-sm");
                        btn.html('Connect');
                    }
                });
            })

            $('#dtObjects').on('click', 'a.btn.btn-danger', function (e) {
                e.preventDefault();
                var ID = $(this).attr('id');
                console.log(ID);
                $(this).parent().parent().remove();
            });
        });
    </script>