<div class="container">
    <div class="row">
        <div class="card mt-10 my-2 mx-2" style="width: 93%;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-5">
                        <h5 class="card-title">Add a new Salesforce Org</h5>
                        <p class="card-text">Click Connect and login with your Salesforce Credentials
                        </p>
                        <a href="/oauth2/auth" class="btn btn-primary">Connect</a>
                       
                    </div>
                </div>
                </div>
        </div>
    </div>
    <div class="row">
        <% if (allOrgs != 0) {%>
                        <div class="container">
                            <table class="table" id="dtObjects">
                                <thead> Connected Org Information </thead>
                                <% allOrgs.forEach(element => { %>
                                <tr>
                                    <td>
                                        <a id="connectedOrg" href='/welcome?org=<%= element.orgid %>&n=<%= element.orgurl %>'> <%= element.orgurl %> </a>
                                    </td>
                                    <td>
                                        <a href="" class="btn btn-danger" id='<%= element.orgid %>'>Delete</a>
                                    </td>
                                </tr>
                                <%});%>
                            </table>
                        </div>
                        <%}%>
    </div>

    <script>
        var editor;
        $(function (){
            $("#btnConnect").click(function () {
                $(this).prop("disabled", true);
                $(this).html(
                    '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...'
                    );
                var btn = $(this);
                $.ajax({
                    type: 'GET',
                    url: '/oauth2/auth/',
                    contentType: "application/json",
                    success: function (data) {
                        console.log("Success");
                    },
                    complete: function () {
                        btn.removeAttr("disabled");
                        btn.remove(".spinner-border.spinner-border-sm");
                        btn.html('Connect');
                    }
                });
            })

            $('#dtObjects').on('click', 'a.btn.btn-danger', function (e) {
                e.preventDefault();
                var orgid = $(this).attr('id');
                $(this).parent().parent().remove();
                $.ajax({
                    type: 'POST',
                    url: '/deleteOrg',
                    data: JSON.stringify({id: orgid}),
                    contentType: "application/json",
                    success: function (data) {
                        console.log("Success");
                    }
                });
            });
        });
    </script>