<div class="container">
  <div class="jumbotron">
    <div class="container for-about">
    <h1 style="color:whitesmoke">Sign Up</h1>
    <form action="/oauth2/auth" method="GET">
      <div class="form-group">
          <button type="submit" class="btn btn-primary">Let's go</button>
          <label for="colFormLabelLg" class="col-md-12 col-form-label col-form-label-lg" style="color:whitesmoke">
            Get more insight into your salesforce org now!</label>
      </div>
    </form>
    </div>
 </div>
</div>

<style>
  .jumbotron{
    background: url("jumbotronbg.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    min-height: 500px;
    max-height:3727px;
}
</style>