<div class="container">
  <div class="jumbotron">
    <div class="container for-about">
      <h1 style="color:whitesmoke">Sign Up</h1>
      <form action="/oauth2/auth" method="GET">
        <div class="form-group">
          <button type="button" class="btn btn-primary" id="btnLetsgo">Sign Up / Login</button>
          <label for="colFormLabelLg" class="col-md-12 col-form-label col-form-label-lg" style="color:whitesmoke">
            Get more insight into your salesforce org now!</label>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img class="img-thumbnail" src="/globalimage.png">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
    </div>
    <div class="col-md-4">
      <img class="img-thumbnail" src="/globalimage.png">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut elementum elit. Vivamus sodales at nisl id feugiat. Sed in gravida dolor, non luctus arcu. Duis rhoncus metus eu purus ornare scelerisque. Cras malesuada non enim vel porttitor. Sed nec nibh vulputate, fermentum magna quis, tincidunt libero. Aliquam tincidunt, magna sed pretium sollicitudin, orci neque pharetra lectus, finibus semper quam turpis ut lacus. Sed aliquet urna non vulputate pulvinar. 
    </div>
    <div class="col-md-4">
      <img class="img-thumbnail" src="/globalimage.png" >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut elementum elit. Vivamus sodales at nisl id feugiat. Sed in gravida dolor, non luctus arcu. Duis rhoncus metus eu purus ornare scelerisque. Cras malesuada non enim vel porttitor. Sed nec nibh vulputate, fermentum magna quis, tincidunt libero. Aliquam tincidunt, magna sed pretium sollicitudin, orci neque pharetra lectus, finibus semper quam turpis ut lacus. Sed aliquet urna non vulputate pulvinar. 
    </div>
  </div>
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Account Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a href="#signupTab" class="nav-link active" aria-controls="signupTab" role="tab"
                data-toggle="tab">Sign Up</a>
            </li>
            <li class="nav-item"><a href="#loginTab" aria-controls="loginTab"  class="nav-link" role="tab" data-toggle="tab">Login</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="signupTab">
             </br>
              <form action="/auth/register" method="post" class="form-horizontal">
                <div class="form-group">
                  <label for="inputUsername" class="col-sm-2 control-label">Username</label>
                  <div class="col-sm-10">
                    <input type="text" name="username" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" name="password" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                  <div class="col-sm-10">
                    <input type="text" name="useremail"/>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Register</button> <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="loginTab">
            </br>
              <form action="/auth/login" method="post">
                <div class="form-group">
                  <label for="inputEmailAd" class="col-sm-2 control-label">Username</label>
                  <div class="col-sm-10">
                    <input type="text" name="username" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail" class="col-sm-2 control-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" name="password" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Login</button> <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
      </div>
    </div> 
  </div>
</div>
</div>

<script>
  $(function () {
    $('#btnLetsgo').click(function () {
      $('#myModal').modal('show');
    });

  })
</script>

<style>
  .jumbotron {
    background: url("jumbotronbg.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    min-height: 500px;
    max-height: 3727px;
  }
</style>