<div class="container">
    <div class="col">
        <div class="row"> Total Objects</div>
        <div class="row"><%- totalObject%></div>
    </div>


    <div class="row">
        <div class="col">
            <table class="table">
                <thead>All Objects ( <%-standardObject.length%> )</thead>
                <% for(var i =0; i< standardObject.length; i ++){ %>
                <tr>
                    <td><%- standardObject[i][0]%></td>
                    <td> ( <%- standardObject[i][1]%> )</td>
                    <td> <%- standardObject[i][2]%> </td>
                </tr>
                <%}%>    
            </table>
        </div>
    </div> 
</div>