<div class="row">
    <div class="row">
        Record Type
    </div>
    <div class="row">
        <div class="container">
            <table id="dtObjects" class="table table-striped table-bordered table-sm sortable" cellspacing="0" width="100%">
                <thead>
                    <th>Record Type</th>
                    <th>Object Associated With</th>
                    <th>Active</th>
                </thead>
                <tbody>
                    <% for(var i =0; i< recordType.length; i ++){ %>
                    <tr>
                        <td><%-recordType[i].name%></td>
                        <td><%-recordType[i].objecttype%></td>
                        <td><%-recordType[i].active%> </td>
                    </tr>
                    <%}%> 
                </tbody>   
            </table>
        </div>
    </div>
</div>