    <div class="row">
        <div class="container">
            Profiles (  <%- profiles.length %> )
        </div>
        <div class="container">
            <table id="dtObjects" class="table table-striped table-bordered table-sm sortable" cellspacing="0" width="100%">
                <thead>
                    <th>Profile</th>
                    <th>Total User(s)</th>      
                </thead>
                <tbody>
                    <% 
                        profiles.map(function(profile){
                    %>
                        <tr>
                            <td><%-profile.Name%></td>
                            <td><%-profile.Total%></td>
                        </tr>
                    <% })%>
                    
                </tbody>   
            </table>
        </div>
    </div>
