<div class="row">
    <div class="card" style="width: 30%;height:220px">
        <svg id="fillgauge1" width="97%" height="100" style="margin-top:2"></svg>
        <div class="card-body text-center">
            <h5 class="card-title"><%- morethan10 %> </h5>
            <p class="card-text">More than 10 users in the particular profile</p>
        </div>
    </div>
    <div class="card" style="width: 30%;height:220px">
        <svg id="fillgauge2" width="97%" height="100" style="margin-top:2"></svg>
        <div class="card-body text-center">
            <h5 class="card-title"><%- lessthan10 %></h5>
            <p class="card-text">Less than 10 users in the particular profile</p>
        </div>
    </div>
    <div class="card" style="width: 30%;height:220px">
        <div class="card-body text-center">
                <h2 class="card-title"><%- singleuser%></h2>
                <h5 class="card-title">Profiles with only a single user, we recommend looking at it.</h5>
        </div>
</div>
     <!--end of row for graph-->
<div class="row">
    <div class="container">
        Profiles ( <%- profiles.length %> )
    </div>
    <div class="container">
        <table id="dtObjects" class="table table-striped table-bordered table-sm sortable" cellspacing="0" width="100%">
            <thead>
                <th>Profile</th>
                <th>Total User(s)</th>
            </thead>
            <tbody>
                <% 
                        profiles.map(function(profile){
                %>
                <tr>
                    <td><%-profile.Name%></td>
                    <td><%-profile.Total%></td>
                </tr>
                <% })%>

            </tbody>
        </table>
    </div>
</div>

<script src="/liquidFillGauge.js"></script>
<style>
        .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
</style>
<script>
var gauge1 = loadLiquidFillGauge("fillgauge1", <%- morethan10 %> /
<%- totalObject %> *100 );
var gauge2 = loadLiquidFillGauge("fillgauge2", <%- lessthan10 %> /
<%- totalObject %> *100);
</script>