<div class="container">
    <div class="row">
        <div class="card mt-10 my-2 mx-2" style="width: 93%;">
            <div class="badge badge-primary text-wrap" style="width: 100%;">
                Salesforce Org Information
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-5">
                        <h5 class="card-title">Your Salesforce Org Information</h5>
                        <p class="card-text">Instance Connected : <%- orgname %></p>
                        <button class="btn btn-primary" id="btnRefresh" type="button">
                            Refresh
                            <br><small>Get the latest data </small>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="row">
        <ul class="nav nav-pills" style="width: 100%;">
            <li class="active"><a class="nav-link active" data-toggle="tab" href="#orgHome">Instance Information</a></li>
            <li><a class="nav-link" data-toggle="tab" href="#license">License</a></li>
            <li><a class="nav-link" data-toggle="tab" href="#limit"> Limits</a></li>
        </ul>
        <div class="tab-content" style="width: 100%;">
            <div class="tab-pane fade active show" id="orgHome">
                <div class="row">
                <div class="card mt-10 my-2 mx-2" style="width: 30%;">
                    <div class="badge badge-primary text-wrap" style="width: 100%;">
                        Total Objects
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%- result_objects %></h5>
                        <p class="card-text">Your total objects are <%- result_objects %>.</p>
                        <a href="/showObject" class="btn btn-primary">Dive In</a>
                    </div>
                </div>

                <div class="card mt-10 my-2 mx-2" style="width: 30%;">
                    <div class="badge badge-primary text-wrap" style="width: 100%;">
                        Total Profiles
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%- result_profiles %></h5>
                        <p class="card-text">Your total profiles are <%- result_profiles %>.</p>
                        <a href="/showProfiles" class="btn btn-primary">See More Details</a>
                    </div>
                </div>

                <div class="card mt-10 my-2 mx-2" style="width: 30%;">
                    <div class="badge badge-primary text-wrap" style="width: 100%;">
                        Total Layouts
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%- result_layouts %></h5>
                        <p class="card-text">Your total layouts are <%- result_layouts %>.</p>
                        <a href="/getLayout" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

                <div class="card mt-10 my-2 mx-2" style="width: 30%;">
                    <div class="badge badge-primary text-wrap" style="width: 100%;">
                        Total Records Types
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%- result_recordTypes %></h5>
                        <p class="card-text">Your total record types are <%- result_recordTypes %> 😞.</p>
                        <a href="/showRecordType" class="btn btn-primary">Show More Details</a>
                    </div>
                </div>

                <div class="card mt-10 my-2 mx-2" style="width: 30%;">
                    <div class="badge badge-primary text-wrap" style="width: 100%;">
                        Custom Application(s)
                    </div>
                    <div class="card-body">
                        <% if (result_customapp == 0) {%>
                        <h5 class="card-title">0></h5>
                        <p class="card-text">There are 0 custom app in Classic (Consider Migration).</p>
                        <%}else{%>
                        <h5 class="card-title"><%- result_customapp[0] %></h5>
                        <p class="card-text">There are <%- result_customapp[1] %> custom app in Classic
                            (Consider Migration).</p>
                        <%}%>
                        <a href="/showCustomApp" class="btn btn-primary">Show More Details</a>
                    </div>
                </div>

                <div class="card mt-10 my-2 mx-2" style="width: 30%;">
                    <div class="badge badge-primary text-wrap" style="width: 100%;">
                        Security Risk
                    </div>
                    <div class="card-body">
                        <%if (result_securityRisk == 0) {%>
                                        <h5 class="card-title">0</h5>
                                        <p class="card-text">There are 0 High Security Risk</p>
                                        <%}else{%>
                                        <h5 class="card-title"><%- result_securityRisk[0] %></h5>
                                        <p class="card-text">There are <%- result_securityRisk[1] %> High Security Risk.</p>
                                        <%}%>
                            
                        <a href="/showSecurityRisk" class="btn btn-primary">Show More Details</a>
                    </div>
                </div>
                
                <div class="card mt-10 my-2 mx-2" style="width: 30%;">
                    <div class="badge badge-primary text-wrap" style="width: 100%;">
                        Total Apex Pages
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%- result_apexPages %></h5>
                                        <p class="card-text">Your apex pages are <%- result_apexPages %> 😞.</p>
                                        <a href="/getApexPage" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

                <div class="card mt-10 my-2 mx-2" style="width: 30%;">
                    <div class="badge badge-primary text-wrap" style="width: 100%;">
                        Total Apex Trigger
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%- result_apexTriggers %></h5>
                        <p class="card-text">Your apex triggers are <%- result_apexTriggers %> 😞.</p>
                        <a href="/getApexTrigger" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card mt-10 my-2 mx-2" style="width: 30%;">
                    <div class="badge badge-primary text-wrap" style="width: 100%;">
                        Total Apex Components
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%- result_ApexComponents %></h5>
                        <p class="card-text">Your apex components are <%- result_ApexComponents %> 😞.</p>
                        <a href="/getApexComponent" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

                </div>
            </div>

            <div class="tab-pane fade" id="license">
                <div class="col-lg-5">
            <% if (result_orgInformation != 0 || result_orgInformation != undefined) {%>
            <div class="card-body">
                <table>
                    <% for(var i =0; i< result_userLicense.length; i ++){ %>
                    <tr>
                        <td><%- result_userLicense[i].Name %></td>
                        <td>
                            <%- result_userLicense[i].UsedLicenses%> /
                            <%- result_userLicense[i].TotalLicenses%></td>
                    </tr>
                    <%}%>
                </table>
            </div>
            <%}%>
        </div>
            </div>
            <div class="tab-pane fade" id="limit">
                <% if (result_orgInformation != 0 || result_orgInformation != undefined) {%>
                    <% 
                            array1 = Object.keys(result_orgInformation)
                            array2 = Object.values(result_orgInformation)            
                            if (array1.length > 0 && array2.length > 0) {
                    %>
                        <div class="row">
                            <div class="card-body">
                                <table>
                                    <th>Setting</th>
                                    <th>Max</th>
                                    <th>Remaining</th>
                                    <% for(var i =0; i< array1.length; i ++){ %>
                                    <tr>
                                        <td><%- array1[i]%></td>
                                        <td><%- array2[i]["Max"] %></td>
                                        <td><%- array2[i]["Remaining"] %></td>
                                    </tr>
                                    <%}%>
                                </table>
                            </div>
                        </div>
                    
                    <% } %>
                   <% } %>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Let's Get Started By Connecting your Salesforce Instance...
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p class="card-text">You dont have an instance connected 😞, click Connect below to get
                started.</p>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="btnConnect2" type="button">
                Connect
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>

<script>
$(function () {
    var a = _.defaultTo("<%- session.instanceURL %>",0);
    var b = _.defaultTo("<%- session.accesscode %>",0);
    var c = $("#btnRefresh");
    if (a == 0 || b == 0){
        c.prop('disabled', true);
        c.removeClass('btn btn-primary');
        c.addClass('btn btn-secondary');
    }else{
        c.prop('disabled', false);
        c.addClass('btn btn-primary');
        c.removeClass('btn btn-secondary');
    }
    $("#btnRefresh").click(function () {
        //console.log($(this).attr('id'));
        $(this).prop("disabled", true);
        $(this).html(
            '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...'
        );
        var btn = $(this);
        $.ajax({
            type: 'POST',
            cache: false,
            url: '/everything',
            contentType: "application/json",
            dataType: "text",
            success: function (data) {
                console.log("Success");
                console.log(data);
                location.reload(true);
            },
            complete: function (response, status) {
                btn.removeAttr("disabled");
                btn.remove(".spinner-border.spinner-border-sm");
                btn.html('Refresh');
            }
        });
    });
    
});
</script>