<body>
    <div class="container">
        <div class="row">
            <form action="/tooling" method="GET">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Sign in</button>
                </div>
            </form>
        </div>
        <div class="row">
            <form action="/getAllObjects" method="GET">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Get all Objects</button>
                </div>
            </form>
        </div>
    </div>
</body>