<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<div id="contents">
    <div>
      <div id="mynetwork"></div>
    </div>
  </div>
<script>
var dotDefault = <%- allObject %>;

// create a network
var container = document.getElementById('mynetwork');
var options = {
  physics: {
    stabilization: false,
    barnesHut: {
      springLength: 200
    }
  }
};
var data = {};
var network = new vis.Network(container, data, options);

$(window).on('resize', function(){ resize()});
$(window).on('load', function(){ draw()});

$('#data').keydown(function (event) {
  if (event.ctrlKey && event.keyCode === 13) { // Ctrl+Enter
    draw();
    event.stopPropagation();
    event.preventDefault();
  }
});

function resize() {
  $('#contents').height($('body').height() - $('#header').height() - 30);
}

function draw () {
  try {
    resize();
   
    // Provide a string with data in DOT language
    data = vis.parseDOTNetwork(dotDefault);

    network.setData(data);
  }
  catch (err) {
    console.log(err.toString());
  }
}

function reset() {
  $('#data').val(dotDefault);
  draw();
}

$(window).on('load', function(){ reset()});

</script>