
     <!--end of row for graph-->
<div class="row">
    <div class="container">
        High Security Risk ( <%- highrisk.length %> )
    </div>
    <div class="container">
        <table id="dtObjects" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <th>Risk</th>
            </thead>
            <tbody>
                <% 
                        highrisk.map(function(item){
                %>
                <tr>
                    <td><%-item.Setting%></td>
                </tr>
                <% })%>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="container">
        Others Security Risk ( <%- otherrisk.length %> )
    </div>
    <div class="container">
        <table id="dtObjects2" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <th>Risk</th>
            </thead>
            <tbody>
                <% 
                    otherrisk.map(function(item){
                %>
                <tr>
                    <td><%-item.Setting%></td>
                </tr>
                <% })%>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready( function () {
                $('#dtObjects').DataTable();
                $('#dtObjects2').DataTable();
        } );
</script>