<div class="row">
    <div class="container">
        <button class="btn btn-info" onclick="history.back(-1)">Back</button> Apex Page ( <%-apex.length%> )
    </div>
    <div class="container">
        <table class="table" id="dtObjects">
            <thead> 
            <th>Name</th>
            <th>API Version </th>
            <th>NamespacePrefix</th>
        </thead><tbody>
            <% for(var i =0; i< apex.length; i ++){ %>
            <tr>
                <td><%- apex[i].Name%></td>
                <td><%- apex[i].ApiVersion%></td>
                <td><%- apex[i].NamspacePrefix%></td>
            </tr>
            <%}%> <!--End of For Loop-->
        </tbody>
        </table>
    </div>
</div>
<script>
     $(document).ready( function () {
                $('#dtObjects').DataTable();
        } );
</script>