<div class="row">
    <div class="container">
        <button class="btn btn-info" onclick="history.back(-1)">Back</button>  Layout ( <%- layouts.length %> )
    </div>
    <div class="container">
        <table id="dtObjects" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <th>Name</th>
                <th>Layout Type</th>
                <th>Object</th>
                <th>Managed State</th>
            </thead>
            <tbody>
                <% 
                        layouts.map(function(layout){
                %>
                <tr>
                    <td><%-layout.Name%></td>
                    <td><%-layout.LayoutType%></td>
                    <td><%-layout.TableEnumOrId%></td>
                    <td><%-layout.ManageableState%></td>
                </tr>
                <% })%>

            </tbody>
        </table>
    </div>
</div>

<script>
        $(document).ready( function () {
                $('#dtObjects').DataTable();
        } );
</script>