<div class="row">
    <div class="container">
        <table class="table" id="dtObjects">
            <thead> Apex Page ( <%-apex.length%> )</thead>
            <th>Name</th>
            <th>API Version </th>
            <th>NamespacePrefix</th>
            <% for(var i =0; i< apex.length; i ++){ %>
            <tr>
                <td><%- apex[i].Name%></td>
                <td><%- apex[i].ApiVersion%></td>
                <td><%- apex[i].NamspacePrefix%></td>
            </tr>
            <%}%> <!--End of For Loop-->
        </table>
    </div>
</div>
<script>
     $(document).ready( function () {
                $('#dtObjects').DataTable();
        } );
</script>