
<div class="row">
    <div class="container">
            <button class="btn btn-info" onclick="history.back(-1)">Back</button>
    </div>
</div>
<div class="row" style=" margin-top:20px;">
    <div class="col">
            <table id="dtObjects" class="table table-striped table-bordered table-sm"
                    cellspacing="0" width="100%">
                    <thead>
                            <th>Object</th>
                            <th>ChildRelationship</th>
                    </thead>
                    <tbody>
                            <% for(var i =0; i< allObject.length; i ++){ %>
                               
                            <tr>
                                    <td><%- allObject[i].Objectname %></td>
                                    
                                    <td><% for (var j=0; j < allObject[i].childRelationship_details.length; j ++ ) {%>
                                        <table>
                                            <tr>
                                                <td><%- allObject[i].childRelationship_details[j].field %> </td>
                                            </tr>
                                        </table>
                                        <%}%>
                                    </td>
                            </tr>
                         
                            <%}%> 
                    </tbody>   
            </table>
    </div>
</div> 
