<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Apex Component</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="card" style="width: 70%;height:220px">
                    <canvas id="myChart" width="200" height="50"></canvas>
                </div>
                <div class="card" style="width: 30%;height:220px">
                    <div class="card-body text-center">
                        <h2 class="card-title">Total Apex Component ( <%-apex.length%> )</h2>
                    </div>
                </div>
            </div>

            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dtObjects">
                    <thead>
                        <th>Name</th>
                        <th>API Version </th>
                        <th>NamespacePrefix</th>
                    </thead>
                    <tbody>
                        <% for(var i =0; i< apex.length; i ++){ %>
                        <tr>
                            <td><%- apex[i].Name%></td>
                            <td><%- apex[i].ApiVersion%></td>
                            <td><%- apex[i].NamspacePrefix%></td>
                        </tr>
                        <%}%> <!--End of For Loop-->
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
 $(document).ready( function () {
                $('#dtObjects').DataTable();
        } );
</script>